<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="appslattur.appslatturdemo" >

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Vibrate permission -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- Vibrate permission -->

    <!-- Service autostart permission -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- service autostart permission -->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- Service autostart BroadCastReciever -->
        <receiver android:name="appslattur.appslatturdemo.ServiceHandler.ServiceBootStarter">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <!-- Service autostart BroadCastReciever -->

        <!-- Simple Service Implementation -->
        <service android:name="appslattur.appslatturdemo.ServiceHandler.AppService"
            android:exported="true"/>
        <!-- Simple Service Implementation -->

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Gluggar.viewlocationsactivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="Something"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>
        <activity
            android:name=".Gluggar.SaveThisLocation"
            android:label="@string/title_activity_save_this_location"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>
        <activity
            android:name=".Gluggar.Settings"
            android:label="@string/title_activity_settings" >
        </activity>
    </application>


</manifest>
